*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
div.herobingkaibottom {
	box-shadow: 0 0 51px 105px white;
}

html{
	max-width: 1600px;
	margin: auto;
}

#popup-activity{
	background-color: rgba(0, 0, 0, 0.3);
}

/* The animation code */
@keyframes animateShowPopup {
  from {
  	top: 100%;
  }
  to {
  	top: 0%;;
  }
}

/* The element to apply the animation to */
#popup-activity{
  animation-name: animateShowPopup;
  animation-duration: 0s;
}
